.navigation {
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 10;
}

.navigation button {
  border: none;
  outline: none;
  width: 30px;
  background-color: transparent;
  color: #ffb57f;
  font-size: 40px;
  text-align: center;
}

.navigation button:disabled {
  opacity: 0.4;
}
