html, body {
  height: 100vh;
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #714bb0;
    background-image: url('bg-texture.svg');
    background-position: right center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    color: #ffd5d5;
    line-height: 1.65;
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    color: #ffb57f;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

strong,
b {
    font-weight: 700;
}

a {
    color: #ffb57f;
}

small {
    font-size: 0.75em;
    opacity: 0.7;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0));
}

img {
  display: block;
  max-width: calc(100% - 30vw)
}

blockquote {
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  margin-left: 0;
  padding-left: 30px;
}

iframe {
  border: none;
}

.iframe-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 560px;
    height: 315px;
}

.fill-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    margin: 0;
}
